/data/matches-raw
/data/matches-processed

/_/graph-dataset/*
/_/_graph-dataset/datasets/*
/_/awpy2/data/*

/proj/graph_nn/_/temp_data/*

/deploy/test_data/*

/docs/tdk-sloan-figures

/data/player-stats/proba+-
/data/player-stats/w-proba+-